.main__select
{
    width: 90%;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid white;
}


.main__features_passengers
{
    border: 1px solid white;
    background: rgba(147, 147, 147, 0.8);
    width: 90%;
    height: auto;
    padding: 1rem;
}


.main__load
{
    width: 70px;
}